<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/account.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
<body>
<div style="width: 400px; margin: 20px auto; text-align: center; font-size: 30px; line-height: 30px; height: 30px; color: red">
    暂不对外开放注册
</div>
<div class="account-outer">
   <div class="account-inner">
        <div class="account-title">
            用户注册
        </div>
        <form class='account-fm form-horizontal' action="{% url 'user-web:reg' %}" method="post" novalidate onsubmit="return false">
            {% csrf_token %}
            <div class="fm-item form-group">
                <label class="col-sm-3" for="id_user">用户名</label>
                <div class="col-sm-9">
                    <input type="text" name="user" id="id_user" class="regValidate form-control" placeholder="用户名">
                    <span class="jsTipUser"></span>
                </div>
            </div>
            <div class="fm-item form-group">
                <label class="col-sm-3" for="id_email">邮箱</label>
                <div class="col-sm-9">
                    <input type="email" name="email" id="id_email" class="regValidate form-control" placeholder="邮箱">
                    <span class="jsTipEmail"></span>
                </div>
            </div>
            <div class="fm-item form-group">
                <label class="col-sm-3" for="id_pwd">密码</label>
                <div class="col-sm-9">
                    <input type="password" name="pwd" id="id_pwd" class="regValidate form-control" placeholder="密码">
                    <span class="jsTipPwd"></span>
                </div>
            </div>
            <div class="fm-item form-group">
                <label class="col-sm-3" for="id_confirm_pwd">确认密码</label>
                <div class="col-sm-9">
                    <input type="password" name="confirm_pwd" id="id_confirm_pwd" class="confirm_pwd form-control" placeholder="确认密码">
                    <span class="jsTipConfirm"></span>
                </div>
            </div>
            <div class="fm-item form-group">
                <label class="col-sm-3" for="id_check_code">验证码</label>
                <div class="col-sm-9">
                    <div class="col-sm-4">
                        <input type="text" name="check_code"  id="id_check_code" class="check_code form-control" placeholder="验证码" >
                    </div>
                    <div class="col-sm-offset-1 col-sm-7">
                        <img class="jsCodeImg" src="{% url "user-web:check_code" %}" alt="">
                    </div>
                    <span class="jsTipCode"></span>
                </div>
            </div>
            <button class="jsSubmit btn btn-success">注册</button>
        </form>
       <div class="account-foot">
           <span>已有账户？<a href="{% url 'user-web:login' %}">立即登录</a></span>
       </div>
    </div>
</div>
<script>
$(function() {
    let obj = new AccountValidate([".regValidate", ".confirm_pwd", ".check_code"]);
    obj.EventBind();
    obj.submitEvent();
});
</script>
</body>
</html>